Click==7.0
Flask==1.0.2
Flask-PyMongo==2.1.0
Flask-Testing==0.7.1
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.2
blessings==1.7
docopt==0.6.2
flake8==3.6.0
itsdangerous==0.24
mccabe==0.6.1
mongo-tools==0.0.2
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pymongo==3.7.2
pytest==3.9.3
pytest-flask==0.14.0
pytz==2018.7
scandir==1.9.0
six==1.11.0
