
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 16.5px;
    background-image: url(../images/dish-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@media (max-width: 767px) {
    body {
        font-size: 18px;
    }
}

.single-recipe {
    padding: 15px 40px;
}

@media (max-width: 767px) {
    .single-recipe {
        padding: 15px 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .single-recipe {
        padding: 10px 10px;
    }
}

.material-icons {
    line-height: 0;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.add-fourpx {
    left: 4px;
}

/*default settings*/

.inline {
    display: inline-block;
}

.block {
    display: block;
}

.center {
    text-align: center;
}

/*Headings*/

h1 {
    text-align: center;
    color: #fff
}

h2,
h3,
h4 {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

/*Forms, Inputs and buttons*/

form fieldset {
    margin-bottom: 20px;
}

form legend {
    margin-bottom: 5px;
}

input,
textarea {
    display: block;
}

input[type=checkbox] {
    float: left;
}

select {
    width: 165px;
}



.close-btn,
input[type=submit] {
    width: 80px;
    height: 30px;
    background-color: #fff;
    color: gray;
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0;
}

.pointer {
    cursor: pointer;
}

.allergens,
.instructions,
.ingredients {
    display: inline-block;
}

table {
    display: inline-block;
}



/*BASE.HTML*/

.signin-create {
position: absolute;
top: 15px;
right: 15px;
color: white;
}

.register-btn, .signin-btn{
    background-color: rgba(255,255,255,.8);
    text-align: center;
    display: inline-block;
    width: 150px;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 2px 3px;
    margin: 0 3px;
    cursor: pointer;
    font-weight: bold;
    color: gray;
    box-shadow: 2px 2px 10px 0;
}

.register-btn:hover, .signin-btn:hover {
    background-color: rgba(255,255,255,.9);
}

/*REGISTER PAGE*/
.register-signin-page {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 150px;
    padding:15px;
    margin: 0 auto;
    z-index: 1;
    text-align: center;   
}

@media (max-width: 767px) {
    .register-signin-page {
    top: 60px;
}
}

.inner-register-page, .inner-signin-page {
    display: inline-block;
    padding: 5px 15px 15PX;
    background-color: rgba(255, 255, 255, .95);
    margin: 0 auto;
    border-radius: 10px;
}
.inner-register-page h2, .inner-signin-page h2{
    font-family: 'Josefin Slab', serif;
}

.inner-register-page div, .inner-signin-page div {
    float: none;
    display: flex;
    margin-bottom: 15px;
}

.register-signin-page div label {
    flex: 1;
}
.register-signin-page div input:not([type=submit]) {
    flex:2;
    height: 25px;
}


.mobile-bars {
    position: absolute;
    right: 30px;
    top: -50px;
    color: black;
}

.mobile-nav {
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: 2;
}

.mobile-ul {
    display: none;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px 0px 0px 10px;
    width: 100px;
    height: 184px;
}

.mobile-li {
    display: none;
    float: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    padding: 5px 5px;
    border-bottom: 2px solid #fff;
    border-radius: 10px 0px 0px 10px;
}

.mobile-nav a, .mobile-nav p {
    color: #fff;
    font-weight: 900;
    margin: 0;

}

.fa-bars {
    font-size: 45px;
    color: black;
}

.header-row {
    padding: 5px 0 10px 0;
}

nav {
    text-align: center;

}

nav ul {
    padding: 0;
    display: inline-block;
    text-align: center;
}

nav ul li {
    float: left;
    list-style: none;
    width: 100px;
    color: #000;
    padding: 6px;
    background-color: orange;
    margin: 0 2px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.container {
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

/* DEFINE SEARCH BOX ITEMS*/

.search-box {
    display: inline-block;
    background-color: rgba(255, 255, 255, .0);
    border-radius: 10px;
}

@media (max-width: 767px) {
    .search-box {
        background-color: rgba(255, 255, 255, .0);
    }
}

.search-btn {
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    display: inline-block;
    width: 150px;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 2px 3px;
    margin: 0 3px;
    cursor: pointer;
    font-weight: bold;
    color: gray;
    box-shadow: 2px 2px 10px 0;
}

@media (max-width: 767px) {
    .search-btn {
        background-color: rgba(255, 255, 255, 1);
    }

}

.triggered_search_box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
}


.inner-box {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .95);
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

@media (max-width: 767px) {
    .triggered_search_box {
        top: 20px;
    }
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.search-category-heading {
    padding: 5px 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.allergen_search_checkbox {
    width: 100px;
    display: inline-block;
    text-align: left;
}



.choice {
    background-color: gray;
    color: #fff;
}

/*search_results.html*/

.found_recipe_row {
    display: flex;
    flex-wrap: wrap;
}

.single-recipe-result {
    padding: 10px;
    display: flex;
    
}

.inner_recipe_box {
    flex: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    border-radius: 10px;
}

.name_box {
    height: 50px;
}

.allergen_box {
    min-height: 50px;
}

.cuisine_box {
    min-height: 50px;
}

.found_image {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

/*EDIT.HTML*/

.allergens_container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.allergen_checkbox {
    width: 33%;
}

/*SINGLE RECIPE.HTML*/

.recipe_image_container {
    margin-left: -5px;
    margin-right: -5px;
}

ol {
    font-weight: bold;
}

ol li p {
    font-weight: normal;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.no-padding {
    padding-left: 15px;
}

.flex-box {
    display: flex;
}

.flex1 {
    flex: 1;
}

@media (max-width: 767px) {
    .flex-box {
    display: block;
}
}

.single-recipe-ingredients {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.single-recipe-instructions {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.single-recipe_image {
    height: auto;
    width: 100%;
    border-radius: 10px;
}


.view_and_like {
    margin: 5px 5px;
    display: inline-block;
}

.fa-heart {
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.heart-2 {
    display: none;
}

.fa-eye {
    font-size: 20px;
}

.cuisine-item {
    display: inline-block;
    background-color: rgba(255, 165, 0, .7);
    border-radius: 20px;
    padding: 2.5px 7px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.cuisine-and-allergen-container {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
}

/*FOOTER*/

footer {
    height: 80px;
    background-color: #000;
}
