body {
    margin: 0;
    padding: 0;
    
    background-image: url(../images/dish-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.single_recipe {
    padding: 15px 40px;
}

.material-icons {
    line-height: 0;
    font-size: 20px;
    position:relative;
    top: 5px;
}

.add-fourpx {
    left: 4px;
}
/*default settings*/

.inline {
    display: inline-block;
}

.center {
    text-align: center;
}

/*Headings*/
h1 {
    text-align: center;
    color: #fff
}


/*Forms, Inputs and buttons*/

form fieldset {
    margin-bottom: 20px;
}

form legend {
    margin-bottom: 5px;
}

input, textarea {
    display: block;
}

input[type=checkbox] {
    float: left;
}
select {
    width: 165px;
}
.allergen_search_checkbox {
    width: 100px;
    display: inline-block;
}

.close-btn, input[type=submit] {
    width: 80px;
    height: 30px;
    background-color: #fff;
    color: gray;
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.allergens, .instructions, .ingredients {
    display: inline-block;
}

table {
    display: inline-block;
}



/*BASE.HTML*/
.header-row {
    padding: 5px 0 10px 0;
}

nav {
    text-align: center;
    
}

nav ul {
    padding: 0;
    display: inline-block;
    text-align: center;
}

nav ul li {
    float: left;
    list-style: none;
    width: 100px;
    color: #000;
    padding: 6px ;
    background-color: orange;
    margin: 0 2px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.container {
    background-color: rgba(255,255,255,.9);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

/* recipes.html*/
.search-box {
    display: inline-block;
    padding: 5px;
    background-color: rgba(255,255,255,.7);
    border-radius: 10px;
}

.search_btn {
     display: inline-block;   
}

.search-item {
    display:inline-block;
}

.search_category_box {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
}

.inner-box {
    margin: 0 auto;
    background-color: rgba(255,255,255,.95);
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: -5px -5px 5px 0px rgba(0,0,0,0.75);
}

.search-btn {
    text-align: center;
    display: inline-block;
    width: 150px;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 2px 3px;
    cursor: pointer;
    font-weight: bold;
    color: gray;
}



.choice {
    background-color: gray;
    color: #fff;
} 

/*search_results.html*/

.found_recipe_row {
    display: flex;
    flex-wrap: wrap;
}

.single_recipe_result {
    padding: 10px;
    display: flex;
}

.inner_recipe_box {
    flex: 1;
    width:  100%;
    background-color: rgba(255,166,0,.8);
    padding: 15px;
    border-radius: 10px;
}

.name_box {
    height: 50px; 
}

.allergen_box {
    min-height: 50px; 
}

.cuisine_box {
    min-height: 50px; 
}

.found_image {
    height: auto;
    width: 100%;
    border-radius: 10px;
} 

/*EDIT.HTML*/

.allergens_container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.allergen_checkbox {
    width: 33%;
}

/*SINGLE RECIPE.HTML*/

.single_recipe_row {
    margin-bottom: 10px;
}

.no-padding {
    padding-left: 15px;
}

.flex-box {
    display: flex;
}

.flex1 {
    flex: 1;
}



.single_recipe_image {
    height: auto;
    width: 100%;
    border-radius: 10px;
}
/*FOOTER*/
footer {
    height: 80px;
    background-color: #000;
}