{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Add a Recipe</h1>
    </div>
    
        <form action="{{url_for('insert_recipe')}}" methods="POST" class="col-xs-12">
            <input type="text" name="recipe_name" id = "recipe_name" placeholder="Recipe Name" class=""/>
            <input type="text" name="cuisine" id = "cuisine" placeholder="cuisine" class=""/>
            <input type="text" name="recipe_description" id = "recipe_description" placeholder="Recipe Description" class=""/>
            <input type="text" name="author" id = "author" placeholder="author"/>
            <input type="text" name="prep_time" id = "prep_time" placeholder="Prep Time"/>
            <input type="text" name="cook_time" id = "cook_time" placeholder="Cook Time"/>
            <input type="text" name="recipe_image" id = "recipe_image" placeholder="Image"/>
            <input type="text" name="ingredients" id = "ingredients" placeholder="Ingredient"/>
            <input type="text" name="instructions" id = "instructions" placeholder="Recipe Instructions"/>
            <input type="number" name="serving" id = "serving" placeholder="Servings"/>
            <input type="text" name="" id = "" placeholder=""/>
            
            
            <input type="submit" value="Submit"/>
        </form>
    
</div>


{% endblock %}