{% extends 'base.html' %} {% block content %}
<main class="container">
<div class="row">
    <div class="col-xs-12">
        <h1>Add a Recipe</h1>
    </div>

    <form action="{{url_for('insert_recipe')}}" method="POST" class="col-xs-12">
        
<!--recipe name-->

        <fieldset>
            <legend>Recipe Name</legend>
            <input type="text" name="name" id="name" placeholder="Name" class="" />
        </fieldset>
        
<!--cuisine-->

        <fieldset id="cuisine_fieldset">
            <legend>Cuisine</legend>
            <div class="cuisine_container">
            <select name="cuisine" class="cuisine" id="cuisine">
                <option disabled selected value="">Choose your option</option>
                {% for item in cuisines_json.cuisine %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
                
            </select>
            <i id="add_cuisine" class="material-icons duplicate_select pointer">add</i>
            </div>
        </fieldset>
        
<!--Allergens-->

        <fieldset id="allergen_fieldset">
            
            <legend>Allergens</legend>
            <div class="allergens_container">
                
                    {% for item in allergens_json.allergen %}
                <div class='allergen_checkbox'>
                    <input class="{{ item }}" id="allergen" name="allergens" type="checkbox" value="{{ item }}">
                    <label class="{{ item }}1" for="allergen">{{ item }}</label>
                </div>
                {% endfor%}
                
            </div>
            
        </fieldset>
        
<!--Description-->

        <fieldset>
            <legend>Recipe Description</legend>
            <textarea type="text" name="description"  id="description" placeholder="Recipe Description" class=""></textarea>
        </fieldset>
        
<!--Ingredients-->

        <fieldset id="ingredients_fieldset">
            <legend>Ingredients</legend>
            <input type="text" name="ingredients" class="ingredients inline" id="ingredients" placeholder="Ingredient" />
            <i id="first" class="material-icons duplicate pointer">add</i>
        </fieldset>
        
<!--Instructions-->

        <fieldset id="instructions_fieldset">
            <legend>Instructions</legend>
            <input type="text" name="instructions" class="instructions inline" id="instructions" placeholder="Recipe Instructions" />
            <i id="first" class="material-icons duplicate pointer">add</i>
        </fieldset>
        
<!--Prep time-->       

        <fieldset>
            <legend>Prep Time</legend>
            <input type="text" name="prep_time" id="prep_time" placeholder="Prep Time" />
        </fieldset>
        
<!--Cook time--> 

        <fieldset>
            <legend>Cook Time</legend>
            <input type="text" name="cook_time" id="cook_time" placeholder="Cook Time" />
        </fieldset>
        
<!--recipe yield-->

        <fieldset>
            <legend>Recipe Yield</legend>
            <input type="number" name="recipe_yield" id="recipe_yield" placeholder="recipe_yield" />
        </fieldset>
        
<!--Author-->

        <fieldset>
            <legend>Author</legend>
            <input type="text" name="author" id="author" placeholder="author" />
        </fieldset>
        
<!--Image-->

        <fieldset>
            <legend>Image</legend>
            <input type="text" name="image" id="image" placeholder="Image" />
        </fieldset>
        
<!--Submit-->

        <input type="submit" value="Submit" />
    </form>

</div>
</main>

{% endblock %}
