{% extends 'base.html' %} {% block content %}
<main class="container main-container">
<div class="row">
    <div class="col-xs-12">
        <p class="my-recipe-heading">Edit Recipe</p>
    </div>
<div class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" >
        
<!--Recipe name-->
        <fieldset>
            <legend>Recipe Name</legend>
            <input type="text" name="name" id="name" value="{{ recipe.name }}" class="" />
        </fieldset>
        
<!--Cuisine-->        

        <fieldset id="cuisine_fieldset">
            <legend>Cuisine</legend>
            <div class="cuisine_container">
                
                {% if recipe.cuisine == [] %}
                    <select name="cuisine" class="cuisine" >
                    <option value="" selected>Choose a Cuisine</option>
                    
                    {% for item in cuisines_json.cuisine %}
                    <option >{{item}}</option>
                    {% endfor %}
                    </select>
                {% endif%}
                
                {% if recipe.cuisine != [] %}
                {% for cuisines in recipe.cuisine %}
                <select name="cuisine" class="cuisine">
                    
                    <option selected>{{cuisines}}</option>
                    
                    {% for item in cuisines_json.cuisine %}
                    <option>{{ item }}</option>
                    {% endfor %}
                    
                </select>
                <i class="material-icons remove_select pointer">remove</i><br>
                {% endfor %}
                {% endif%}
                <i id="add_cuisine" class="material-icons duplicate_select pointer">add</i>
                    
                
            </div>
        </fieldset>
        
<!--Allergen-->        

        <fieldset id="allergen_fieldset">
            <legend>Allergens</legend>
            <div class="allergens_container">
                
                {% for allergen in recipe.allergens %}
                <div class='allergen_checkbox'>
                    <input checked  class="{{ allergen }}" name="allergens" type="checkbox" value="{{ allergen }}">
                    <p class="{{ allergen }}1">{{ allergen }}</p>
                </div>
                
                {% endfor %}
                    {% for item in allergens_json.allergen %}
                <div class='allergen_checkbox'>
                    <input class="{{ item }}" name="allergens" type="checkbox" value="{{ item }}">
                    <p class="{{ item }}1">{{ item }}</p>
                </div>
                {% endfor%}
                
            </div>
         </fieldset>

<!--Recipe Description-->

        <fieldset>
            <legend>Recipe Description</legend>
            <textarea name="description" id="description" class="">{{ recipe.description }}</textarea>
        </fieldset>
        
<!--Ingredients-->

        <fieldset id="duplicate_ingredient">
            <legend>Ingredients</legend>
            {% for ingredient in recipe.ingredients %}
                <br><input type="text" name="ingredients" class="ingredients inline" value="{{ ingredient }}" />
                {% if loop.index > 1%}
                <i class="material-icons duplicate pointer">add</i>
                <i class="material-icons remove_duplicate pointer">remove</i>
                {% endif %}
            
            {% endfor %}
            <div class="spacer inline"></div>
                <i id="firsta" class="material-icons duplicate pointer">add</i>
        </fieldset>
        
<!--Instructions-->

        <fieldset id="instructions_fieldset">
            <legend>Instructions</legend>
            {% for instruction in recipe.instructions %}
                <br><input type="text" name="instructions" class="instructions inline"  value="{{ instruction }}" />
                {% if loop.index > 1%}
                <i class="material-icons duplicate pointer">add</i>
                <i class="material-icons remove_duplicate pointer">remove</i>
                {% endif %}
            {% endfor %}
            <div class="spacer inline"></div>
                <i id="firstb" class="material-icons duplicate pointer">add</i>
        </fieldset>
        
<!--Prep time-->

        <fieldset>
            <legend>Prep Time</legend>
            <input type="text" name="prep_time" id="prep_time" value="{{ recipe.prep_time }}" />
        </fieldset>
        
<!--Cook time-->

        <fieldset>
            <legend>Cook Time</legend>
            <input type="text" name="cook_time" id="cook_time" value="{{ recipe.cook_time }}" />
        </fieldset>
        
<!--Serving-->

        <fieldset>
            <legend>Recipe Yield</legend>
            <input type="number" name="recipe_yield" id="recipe_yield" value="{{ recipe.recipe_yield }}"/>
        </fieldset>
        
<!--Author-->

        <fieldset>
            <legend>Author</legend>
            <input type="text" name="author" id="author" value="{{ recipe.author }}" />
        </fieldset>
        
<!--Image-->

        <fieldset>
            <legend>Image</legend>
            <input type="text" name="image" id="image" value="{{ recipe.image }}" />
        </fieldset>
        
<!--Submit-->

        <div class="center margin-bottom-20">
            <input class="inline" type="submit" value="Save" />
        </div>
        
        
    </form>
</div>
</div>
</main>

{% endblock %}
