
{% extends 'base.html' %} {% block content %}
<main class="container main-container margin-top-20">
<!--SEARCH BAR-->

    <p class="my-recipe-heading">Hello {{ user.first_name }}</p>
    
<!--THE COUNT AS TO HOW MANY RECIPES A USER HAS ADDED--> 
<div class="row found_recipe_row">
    <div class="col-xs-12 center margin-bottom-20">
    {% if recipe_count == 0 %}
        <p class="recipe-count"><b>You haven't added any recipes yet. To get started click the add recipes button.</b></p>
        <p class="signin-btn center"><a href="{{url_for('add_recipe')}}">Add Recipe</a></p>
    
    {% elif recipe_count == 1 %}
        <p class="recipe-count"><b>You have created {{ recipe_count }} recipe.</b></p>
        <p class="signin-btn center"><a href="{{url_for('add_recipe')}}">Add Recipe</a></p>
    
    {% else %}
    
        <p class="recipe-count"><b>You have created {{ recipe_count }} recipes.</b></p>
        <p class="signin-btn center"><a href="{{url_for('add_recipe')}}">Add Recipe</a></p>
    {% endif %}
    </div>
    
        
<!--THE ROW FOR INDIVIDUAL RECIPES--> 
{% for recipe in user_recipes %}
    <div class="single-recipe-result col-xs-12 col-sm-4 col-md-3">
        <div class="inner_recipe_box">
            <div class="row">
                <div class="col-xs-12 found_image_box">
                    <a href="{{ url_for('update_view_count', recipe_id=recipe._id)}}">
                    <img class="found_image" src="{{ recipe.image }}" alt=" {{ recipe.name }}">
                    </a>
                </div>
                
                <div class="name_box col-xs-12 center">
                    <p><b>{{ recipe.name }}</b></p>
                </div>
                
                <div class=" allergen_box col-xs-12">
                    <div><b>Allergens</b></div>
                    
                {% for item in recipe.allergens %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item }}</span>
                {% endif %}
                {% endfor %}
                
                </div>
                
                <div class="cuisine_box col-xs-12">
                    <div><b>Cuisine</b></div>
                {% for item in recipe.cuisine %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item }}</span>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>


    
{% endfor %}
</div>
</main>

{% endblock %}