{% extends 'base.html' %} {% block content %}

<main class="container main-container margin-top-20">
    
    <div class="row">
        <p class="my-recipe-heading">Recipes</p>
    </div>
<!--FORMS FOR SEARCHING CRITERIA BY CUISINE, ALLERGEN OR INGREDIENT -->
<div class="row center margin-bottom-20">

        <div class="col-xs-12 inline">

            <div class="search-box">
                <p class=" hidden-xs"><b>Define Search by:</b></p>

                <div class="inline hidden-xs">
                    <P id='ingredient_btn' class='search-btn'>Ingredient</P>
                </div>

                <div class="inline hidden-xs">
                    <P id='cuisine_btn' class='search-btn'>Cuisine</P>
                </div>

                <div class="inline hidden-xs">
                    <P id='allergen_btn' class='search-btn'>Allergen</P>
                </div>

                <div class="inline">
                    <P id='allergen_and_cuisine_btn' class='search-btn hidden-xs'>Advanced</P>
                    <P id='mobile-search-btn' class='search-btn hidden-sm hidden-md hidden-lg '>Define Search</P>
                </div>
                <!--########################## INGREDIENT FORM-->
                <div id="ingredient_search" class="triggered_search_box">
                    <div class="inner-box inline">
                        <form class="center" action="{{url_for('find_ingredient')}}" method="POST">
                            <p class="center search-category-heading"><b>Search Ingredient</b></p>
                            <div class="inline">
                                <input required class="search-ingredient" type="text" name="ingredient_category" id="ingredient_category" placeholder='e.g. chicken'>
                            </div>
                            <br>
                            <br>
                            <div class="center">
                                <input class="inline" type="submit" value="Select" />
                                <p class="close-btn inline">Close</p>
                            </div>

                        </form>
                    </div>
                </div>
                <!--########################## CUISINE FORM-->

                <div id="cuisine_search" class="triggered_search_box">
                    <div class="inner-box inline">
                        <form class="center" action="{{url_for('find_cuisine')}}" method="POST">
                            <p class="center search-category-heading"><b>Select Cuisine</b></p>
                            <div class="inline">
                                <select required name="cuisine_category" id="cuisine_category">
                            <option disabled value="" selected>None</option>
                            {% for item in cuisines_json.cuisine|sort %}
                            <option value="{{ item }}">{{ item|title }}</option>
                            {% endfor %}
                            </select>
                            </div>
                            <br>
                            <br>
                            <div class="center">
                                <input class="inline" type="submit" value="Select" />
                                <p class="close-btn inline">Close</p>
                            </div>

                        </form>
                    </div>
                </div>

                <!--########################## END FORM-->
                <!--########################## ALLERGEN FORM-->

                <div id="allergen_search" class="triggered_search_box center">
                    <div class="inner-box inline">
                        <form action="{{url_for('find_allergen')}}" method="POST">
                            <p class="center search-category-heading"><b>Select allergen free</b></p>
                            <div class=" col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-12">
                                {% for item in allergens_json.allergen|sort %}
                                <div class='allergen_search_checkbox'>
                                    <input value="{{ item }}" name="allergen_category" type="checkbox">
                                    <p for="find_allergen"> {{ item | title }}</p>
                                </div>
                                {% if loop.index % 3 == 0 %}
                                <br class="hidden-xs"> {% endif%} {% endfor %}
                                <br>
                                <br>
                            </div>
                            <div class="center">
                                <input class="inline" type="submit" value="Select" />
                                <p class="close-btn inline">Close</p>
                            </div>

                        </form>
                    </div>
                </div>

                <!--########################## END FORM-->
                <!--########################## ALLERGEN AND CUISINE FROM-->
                <div id="allergen_and_cuisine_search" class="triggered_search_box">
                    <div class="inner-box inline">
                        <form name="form" action="{{url_for('find_multiple_categories')}}" onSubmit="return anyvalidate()" method="POST">

                            <div class="row center ">

                                <div class="col-xs-12 col-sm-6 inline margin-bottom-20">

                                    <p class="search-category-heading"><b>Select Cuisine</b></p>
                                    <select class="" name="find_cuisine" id="find_cuisine">
                                    
                                    <option class="inline"value="" selected>None</option>
                                    {% for item in cuisines_json.cuisine|sort %}
                                    <option value="{{ item }}">{{ item|title }}</option>
                                    {% endfor %}
                                    
                                </select>
                                </div>

                                <div class="col-xs-12 col-sm-6 inline margin-bottom-20">

                                    <p class="search-category-heading"><b>Search Ingredient</b></p>
                                    <input class="inline search-ingredient" type="text" name="find_ingredient" id="find_ingredient" placeholder='e.g. chicken'>

                                </div>

                            </div>

                            <div class="row">
                                <div class=" col-xs-12 margin-bottom-20 inline">
                                    <p class="center search-category-heading"><b>Select allergen free</b></p>
                                    <div class=" col-xs-offset-1 col-xs-11 col-sm-offset-0 col-sm-12">
                                        {% for item in allergens_json.allergen|sort %}

                                        <div class='allergen_search_checkbox'>
                                            <input value="{{ item }}" name="find_allergen" type="checkbox">
                                            <P> {{ item| title }}</P>
                                        </div>

                                        {% if loop.index % 3 == 0 %}
                                        <br class="hidden-xs"> {% endif%} {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="center">
                                <input class="inline" type="submit" value="Select" />
                                <p class="inline close-btn">Close</p>
                            </div>



                        </form>
                    </div>
                </div>

            </div>

            <!--########################## END FORM-->

        </div>
    </div>
    

<div class="row ordered-by-row">
    <div class="col-xs-12 col-sm-5">
        <p class="ordered-by-title">Most Popular Recipes</p>
        <a href="{{url_for('most_popular_recipes')}}" class="see-all">See All</a>
    </div>
</div>

<!--THE ROW FOR THE 4 MOST POPULAR RECIPES -->
<div class="row found_recipe_row">
{% for recipe in most_popular_recipes %}

    <div class="single-recipe-result col-xs-12 col-sm-4 col-md-3">
        <div class="inner_recipe_box">
            <div class="row">
                <div class="col-xs-12 found_image_box">
                    <a href="{{ url_for('update_view_count', recipe_id=recipe._id)}}">
                    <img class="found_image" src="{{ recipe.image }}" alt=" {{ recipe.name }}">
                    </a>
                </div>
                
                <div class=" name_box col-xs-12 center">
                    <h4><b>{{ recipe.name }}</b></h4>
                </div>
                
                <div class=" allergen_box col-xs-12">
                    
                <p>{{ recipe.description |truncate(65) }}</p>
                
                </div>
                
                <div class=" allergen_box col-xs-12">
                    <div><b>Allergens</b></div>
                    
                {% for item in recipe.allergens %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item | title}}</span>
                {% endif %}
                {% endfor %}
                
                </div>
                
                <div class="cuisine_box col-xs-12">
                    <div><b>Cuisine</b></div>
                {% for item in recipe.cuisine %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item |title}}</span>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endfor %}
</div>

<div class="row ordered-by-row">
    <div class="col-xs-12 col-sm-5">
        <p class="ordered-by-title">New Recipes</p>
        <a href="{{url_for('new_recipes')}}" class="see-all">See All</a>
    </div>
</div>

<!--THE ROW FOR THE 4 MOST VIEWED RECIPES -->
<div class="row found_recipe_row">
{% for recipe in new_recipes %}

    <div class="single-recipe-result col-xs-12 col-sm-4 col-md-3">
        <div class="inner_recipe_box">
            <div class="row">
                <div class="col-xs-12 found_image_box">
                    <a href="{{ url_for('update_view_count', recipe_id=recipe._id)}}">
                    <img class="found_image" src="{{ recipe.image }}" alt=" {{ recipe.name }}">
                    </a>
                </div>
                
                <div class=" name_box col-xs-12 center">
                    <h4><b>{{ recipe.name }}</b></h4>
                </div>
                
                <div class=" allergen_box col-xs-12">
                    
                <p>{{ recipe.description |truncate(65) }}</p>
                
                </div>
                
                <div class=" allergen_box col-xs-12">
                    <div><b>Allergens</b></div>
                    
                {% for item in recipe.allergens %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item | title}}</span>
                {% endif %}
                {% endfor %}
                
                </div>
                
                <div class="cuisine_box col-xs-12">
                    <div><b>Cuisine</b></div>
                {% for item in recipe.cuisine %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item |title}}</span>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endfor %}
</div>

<div class="row ordered-by-row">
    <div class="col-xs-12 col-sm-5">
        <p class="ordered-by-title">All Recipes</p>
        <a href="{{url_for('all_recipes')}}" class="see-all">See All</a>
    </div>
</div>

<!--THE ROW FOR THE FIRST 4 RECIPES OF ALL RECIPES IN ALPHABETICAL ORDER -->
<div class="row found_recipe_row">
{% for recipe in all_recipes %}

    <div class="single-recipe-result col-xs-12 col-sm-4 col-md-3">
        <div class="inner_recipe_box">
            <div class="row">
                <div class="col-xs-12 found_image_box">
                    <a href="{{ url_for('update_view_count', recipe_id=recipe._id)}}">
                    <img class="found_image" src="{{ recipe.image }}" alt=" {{ recipe.name }}">
                    </a>
                </div>
                
                <div class=" name_box col-xs-12 center">
                    <h4><b>{{ recipe.name }}</b></h4>
                </div>
                
                <div class=" allergen_box col-xs-12">
                    
                <p>{{ recipe.description |truncate(65) }}</p>
                
                </div>
                
                <div class=" allergen_box col-xs-12">
                    <div><b>Allergens</b></div>
                    
                {% for item in recipe.allergens %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item | title}}</span>
                {% endif %}
                {% endfor %}
                
                </div>
                
                <div class="cuisine_box col-xs-12">
                    <div><b>Cuisine</b></div>
                {% for item in recipe.cuisine %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item |title}}</span>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endfor %}
</div>

</main>

{% endblock %}
